body {
    font-family: Helvetica;
    font-size: 13px;
}

#menu {
    margin-top: 30px;
    margin-right: 30px;
    text-align: right;
}

#menu ul {
    list-style-type: none;
}

#content {
    text-align: center;
}

/*
#quote-text {
    display: none;
}
*/